/* Color palette */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  /* default size is 16px, so 62.5 is 10 */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Image */
.cardimg {
  margin: 15px 10px;
  display: block;
  max-width: 200px;
  border-radius: 20px;
  box-shadow: 0 0 10px 3px #1ca6cc;
  /* Show radius when size is bigger than card itself  */
  overflow: hidden;
}
.cardimg:hover {
  transform: scale(1.1);
}

/* Grids */
.cardgrid {
  display: grid;
  padding: 20px;
  margin-top: 15px;
  grid-template-columns: repeat(4, minmax(200px, 250px));
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
