*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  /* default size is 16px, so 62.5 is 10 */
  font-size: 62.5%;
  height: 100vh;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background: rgba(1, 1, 1, 0);
  min-height: 100%;
}

h1 {
  font-size: 3rem;
}
h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

/* Header */
.header {
  background: #727080;
}

.header .header__title {
  color: #020203;
  text-align: center;
}

.header .header__p {
  color: #18181b;
  text-align: center;
  margin: 0px;
}

/* Scoreboard */
.scoreboard {
  background: #727080;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard .scoreboard__score {
  border-radius: 20px;
  width: 35%;
  color: #f7f71c;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.scoreboard .scoreboard__bestscore {
  border-radius: 20px;
  width: 35%;
  color: #c11515;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .scoreboard .scoreboard__score {
    padding-right: 50px;
  }

  .scoreboard .scoreboard__bestscore {
    padding-right: 50px;
  }
}

/* Image */
.cardimg {
  margin: 15px 10px;
  display: block;
  max-width: 70px;
  border-radius: 20px;
  box-shadow: 0 0 10px 3px #1ca6cc;
  /* Show radius when size is bigger than card itself  */
  overflow: hidden;
}
.cardimg:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  .cardimg {
    max-width: 109px;
  }
}

/* Grids */
.grid {
  background: #cfced2;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
}

@media screen and (min-width: 1024px) {
  .grid--1x6 {
    grid-template-columns: repeat(6, 1fr);
    padding-left: 60px;
  }
}

.footer {
  background: #cfced2;
  text-align: center;
}
